@{
	ViewData["Title"] = "Error";
	Layout = "_Layout_Admin";
}
<div class="container">
	<div class="text-center mt-10">
		<h1>Fichier contenant des erreurs</h1>
	</div>
	<div class="row mt-10">
		<div class="offset-md-1 col-md-10 offset-md-1">
			<div class="table-responsive">
				<table class="table table-rounded table-striped border gy-6 gs-6">
					<thead class="bg-danger">
						<tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-200">
							<th>line</th>
							<th>error</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in ViewBag.Errorcsv)
						{
							<tr class="bg-light-danger">
								<td>@item.lineNumber</td>
								<td>@item.message</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>


</div>